.center {
  justify-content: center;
}

.ChampGrid {
  max-width: 620px;
  border: 4px solid #282c34;
  border-radius: 10px;
}

.option-bar {
  background-color: #282c34;
  min-height: 50px;
  padding-inline: 1px;
}

.btn.inactive {
  opacity: 0.4;
}

.btn-text {
  color: #e9c46a;
  font-size: 12px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #264653;
}

.grid {
  position: relative;
  text-align: center;
  /* max-width: 625px; */
}

.scroll-frame {
  height: 620px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background-color: #2a9d8f;
}

.scroll-frame::-webkit-scrollbar {
  display: none;
}

.bar {
  height: 25px;
}

.top-cover {
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #264653);
  pointer-events: none;
}

.btm-cover {
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #264653);
  pointer-events: none;
}

.icon {
  position: relative;
  height: 110px;
  width: 100px;
}

.icon.show-decoration {
  height: 150px;
}

.icon-mobile {
  position: relative;
  height: 80px;
  width: 70px;
}

.icon-mobile.show-decoration {
  height: 130px;
}

.image {
  width: 74px;
  height: 74px;
}

.image-mobile {
  width: 56px;
  height: 56px;
}

.decoration {
  position: absolute;
  left: 13px;
}

.decoration-mobile {
  position: absolute;
  left: 5px;
  width: 56px;
}

.caption {
  color: #e9c46a;
  font-size: 12px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #264653;
  position: absolute;
  left: 0;
  right: 0;
}

.caption.show-decoration {
  bottom: 0;
}