#nameform {
  flex-basis: 700px;
  height: 70px;
  background: #EEEEEE;
  padding-inline: 20px;
  padding-block: 15px;
  margin-inline: 15px;
}

#nameform-mobile {
  background: #EEEEEE;
  padding: 10px;
  margin-inline: 5px;
}

#content {
  display: flex;
  gap: 20px;
}

#content-mobile {
  display: flex;
  gap: 5px;
}

#warnings {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  text-align: center;
}