#nameform {
  background: #EEEEEE;
  padding-inline: 20px;
  padding-block: 15px;
  border-radius: 5px;
}

#nameform-mobile {
  background: #EEEEEE;
  padding: 10px;
  margin-inline: 5px;
  border-radius: 5px;
}

#nameform-content {
  display: flex;
  gap: 20px;
}

#nameform-content-mobile {
  display: flex;
  gap: 5px;
}

#warnings {
  display: flex;
  padding-top: 15px;
  flex-direction: column;
  text-align: center;
}