.lolgress {
  /* min-height: "100vh"; */
  background-color: #264653;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.lolgress::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 30px;
  color: white;
  background-color: #282c34;
  padding-block: 20px;
}

.center {
  justify-content: center;
}