.lolgress {
  background-color: #264653;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lolgress::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 30px;
  color: white;
  background-color: #282c34;
  padding-block: 10px;
  text-align: center;
}

.content {
  background-color: #264653;
  padding: 15px;
  margin-inline: 15px;
  border-radius: 10px;
  border: 5px solid #282c34;
}

#nameform-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex-grow 750ms ease-in-out;
  margin-block: 20px;
}

#spacer {
  display: flex;
  transition: flex-grow 750ms ease-in-out;
}

#api-form {
  max-width: 700px;
  max-height: 70px;
  background: #EEEEEE;
  padding-inline: 20px;
  padding-block: 15px;
  margin-inline: 15px;
}