.lolgress {
  background-color: #264653;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lolgress::-webkit-scrollbar {
  display: none;
}

.title {
  font-size: 30px;
  color: white;
  background-color: #282c34;
  padding-block: 20px;
  text-align: center;
}

.center {
  justify-content: center;
}